.modal {
  width: 95%;
  max-width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(10, 11, 22, 0.8);
  backdrop-filter: blur(7px);
  z-index: 1;
  top: 0;
  left: 0;
  cursor: pointer;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #000;
  border-radius: 24px;
  padding: 20px;
  min-height: 150px;
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 125%;
  color: #fff;
  padding-bottom: 15px;
  text-align: center;
  padding-top: 20px;
}
.icon {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 24px;
  color: #ecddff;
}

.day {
  text-align: center;
}

.form {
  /* background: #30303e; */
  border-radius: 18px;
  /* padding: 18px; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.tagline {
  font-family: var(--fontFamily);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  font-feature-settings: "liga" off, "kern" off;
  color: rgba(236, 221, 255, 0.5);
}
.type {
  font-weight: 600;

  color: #ecddff;
}
.user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media only screen and (max-width: 520px) {
  .wrapper {
    padding: 18px;
  }
  .title {
    font-size: 22px;
  }
}
